.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* محصول جدول */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 0;
}

    table th, table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        color: #555;
        vertical-align: middle;
    }

.product-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}


/* Add Product Button */
.add-btn {
    padding: 10px 18px;
    background: #d8b4e2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

    .add-btn:hover {
        background: #c597d3;
    }

/* Action Buttons */
.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
}

    .btn.edit {
        background: #8b5cf6;
    }

        .btn.edit:hover {
            background: #7c3aed;
        }

    .btn.delete {
        background: #f87171;
    }

        .btn.delete:hover {
            background: #ef4444;
        }


.actions {
    display: flex;
    gap: 10px; /* فاصله بین دکمه‌ها */
    align-items: center;
}

    .actions a {
        text-decoration: none;
    }

.alert {
    padding: 15px 20px;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* پیام موفق */
.alert-success {
    background-color: #e6ffed;
    border: 2px solid #00a65a;
    color: #0f5132;
}

/* پیام خطا */
.alert-error {
    background-color: #ffe6e6;
    border: 2px solid #d9534f;
    color: #842029;
}
