
body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 40px;
    color: #333;
    margin-top: 80px;
}

.cart-box {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    width: 900px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid #e0e0e0;
}

td {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
    vertical-align: middle;
}

.product-img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
}

.qty-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 120px;
}

    .qty-box button {
        width: 35px;
        height: 35px;
        border: none;
        background: #f7f7f7;
        font-size: 18px;
        cursor: pointer;
    }

    .qty-box input {
        width: 50px;
        text-align: center;
        border: none;
        font-size: 16px;
    }

.actions {
    display: flex;
    gap: 15px;
    padding-top: 30px;
}

.coupon-input {
    flex: 1;
    padding: 12px 18px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 15px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: #f1f1f1;
    font-weight: 500;
    transition: 0.2s;
}

    .btn:hover {
        background: #000;
        color: #fff;
    }

.remove-col {
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

/* دکمه ضربدر مینیمال طوسی */
.btn-remove {
    border: none;
    background: transparent;
    color: #bbb; /* طوسی روشن */
    font-size: 20px; /* اندازه ایکس */
    cursor: pointer;
    padding: 0;
    line-height: 1;
    transition: color .15s ease, transform .15s ease;
}

.message-box {
    margin-top: 12px;
    font-size: 14px;
    color: #dc2626;
    text-align: center;
}

/* موقع هاور کمی تیره‌تر شود */
.btn-remove:hover {
    color: #777; /* طوسی تیره‌تر */
    transform: scale(1.15); /* کمی بزرگ‌تر */
}

/* موقع کلیک کمی کوچک شود */
.btn-remove:active {
    transform: scale(.95);
}
