.form-main {
    display: flex;
    gap: 20px;
    align-items: stretch; /* ستون‌ها ارتفاع یکسان داشته باشند */
}

.form-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 10px; /* فاصله بین Price و Stock */
    margin-top: 5px;
}

.form-row-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-upload {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* ارتفاع برابر ستون چپ */
}

.upload-box {
    flex: 1; /* اشغال تمام ارتفاع ستون */
    position: relative;
    width: 100%;
    display: flex;
}

.upload-content {
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-weight: bold;
    background-color: #fafafa;
    text-align: center;
}

.upload-box input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


label {
    font-weight: bold;
    margin-top: 15px;
    direction: ltr;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    direction: ltr;
}

textarea {
    resize: vertical;
}

.form-upload {
    width: 250px; /* عرض ستون آپلود */
}


.submit-btn {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background: #8c52ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

    .submit-btn:hover {
        background: #8e44ad;
    }

.alert {
    padding: 15px 20px;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #e6ffed;
    border: 2px solid #00a65a;
    color: #0f5132;
}

.alert-error {
    background-color: #ffe6e6;
    border: 2px solid #d9534f;
    color: #842029;
}
